<% @images.each do |image| %>
	<%= image_tag image.avatar(:medium) %>
		<% unless Subscription.subscribed?(current_user.id, image.user.id) %>
			<div class="user_image_<%= image.user_id%>">
				<%= link_to "Subscribe".html_safe, subscribe_path(user_id: image.user.id), remote: true, class: "btn btn-success" %>
			</div>
		<% else %>
		<div class="user_image_<%= image.user_id%>">
			<%= link_to "Unsubscribe", unsubscribe_path(user_id: image.user.id), remote: true, class: "btn btn-success" %>
		</div>
	<% end %>
<% end %>